In [4]:
import train

ModuleNotFoundError: No module named 'train'

In [11]:
text = ["Meet Goldman Sachs' first Bangladeshi partner as US bank aims to diversify upper ranks",
        "10,000 Black interns boss Rebecca Achieng Ajulu-Bushell tells senior women in finance: 'Stand up for what you believe in'",
       "Top women in finance gather for celebration at FN headquarters"]

test = pd.DataFrame(text, columns = ['text'])
test['labels'] = [1, 0, 1]
test.to_csv('/home/xic023/DSC180A-Methodology-5/test/testdata/test.csv', index = False)

In [10]:
test

                                                text  labels
0  Meet Goldman Sachs' first Bangladeshi partner ...       1
1  10,000 Black interns boss Rebecca Achieng Ajul...       0
2  Top women in finance gather for celebration at...       1